<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.timalka.yummyguac" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MenuTabActivity"
            android:label="menu"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlanningActivity"
            android:label="@string/planning_screen"/>
        <activity android:name=".MealsActivity"
            android:label="@string/meals_screen"/>
        <activity android:name=".MealsListActivity"
            android:label="@string/meals_list_screen"/>
        <activity android:name=".IngredientsListActivity"
            android:label="@string/ingredients_screen"/>
        <activity android:name=".ShoppingListActivity"
            android:label="@string/shopping_list_screen"/>


    </application>

</manifest>
